torch==2.1.0
transformers==4.29.2
tokenizers==0.13.3
diffusers==0.21.4
torchvision==0.16.0
numpy==1.26.0
ldpc==2.3.6
galois==0.3.10
huggingface_hub==0.25.0
seaborn
datasets
compressai
scikit-image
opencv-python
pycryptodome
accelerate
scipy
matplotlib
jupyter